<!-- Alert of Cookies -->
  <div class="cookies-box" id="cookies-box">
    <div class="container-cookies">
      <div class="parrafo">
        <p class="text-white">
          Utilizamos cookies propias y de terceros para mejorar nuestros servicios. <a class="text-primary" href="/cookies">Política de Cookies</a>
        </p>
      </div>
      <div class="botones">
        <a class="btn bg-gradient-primary" id="acept">Acepto</a>
      </div>
    </div>
  </div>
  <div class="fondo-aviso-cookies" id="fondo-aviso-cookies"></div>