  <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="/legal" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Aviso Legal
          </a>
          <a href="/privacy" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Políticas de Privacidad
          </a>
          <a href="/cookies" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Política de Cookies
          </a>
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-twitter"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-instagram"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary h6">
            Minner Global, Inc. © 2019 - <script>
              document.write(new Date().getFullYear())
            </script> - Todos los derechos reservados.
          </p>
        </div>
      </div>
    </div>
  </footer>