<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Páginas</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Tablero</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Tablero</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <ul class="navbar-nav  ms-md-auto pe-md-3 d-flex align-items-center">
            <li class="nav-item d-flex align-items-center">
              <a href="/profile" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                {{#each users}}
                <span class="d-sm-inline d-none">{{ username }}</span>
                {{/each}}
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item dropdown px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog cursor-pointer"></i>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li>
                  <a class="dropdown-item border-radius-md" href="/profile">
                    <div class="d-flex py-1">
                      <div class="avatar avatar-sm bg-gradient-info  me-3  my-auto">
                        <i class="ni ni-circle-08"></i>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-bold mb-1">
                          Perfil
                        </h6>
                        <p class="text-xs text-secondary mb-0 ">
                          Ver y editar su información
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a type="button" class="dropdown-item border-radius-md" data-bs-toggle="modal" data-bs-target="#modal-notification">
                    <div class="d-flex py-1">
                      <div class="avatar avatar-sm bg-gradient-danger  me-3  my-auto">
                        <i class="ni ni-button-power"></i>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-bold mb-1">
                          Cerrar Sesión
                          
                        </h6>
                        <p class="text-xs text-secondary mb-0 ">
                          Tendrá que iniciar sesión luego
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-notification">Se requiere su atención</h6>
            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-3 text-center">
              <i class="fa-duotone fa fa-power-off ni-5x text-gradient text-danger"></i>
              <h4 class="text-gradient text-danger mt-4">¿Está seguro de cerrar sesión?</h4>
              <p>Luego tendrá que acceder nuevamente con sus credenciales</p>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-dark" href="/logout">Si, cerrar sesión</a>
            <button type="button" class="btn btn-link text-dark ml-auto" data-bs-dismiss="modal">Más tarde</button>
          </div>
        </div>
      </div>
    </div>