<!-- Preloader -->
    <div class="central-pre" id="onload">
      <div class="lds-heart">
        <img src="/img/favicon.png">
        <div style="margin-top: 80px; margin-left: 14px; text-align: center;" class="ltrs">
           <h6>INICIALIZANDO</h6>
           <p style="font-size: 10px; margin-top: -1.2vh;">Un momento...</p>
        </div>
      </div>
    </div>
<!-- End Preloader -->