
  <div id="button-up" type="button" data-bs-toggle="modal" data-bs-target="#modal-wa">
    <i class="fab fa-whatsapp icon-wa"></i>
  </div>

  <div class="modal fade" id="modal-wa" tabindex="-1" role="dialog" aria-labelledby="modal-wa" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Atención al cliente vía WhatsApp</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" >×</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <img src="/img/favicon.png" width="10%" style="margin: 5px;"><h6> #Líder - Minner Global </br>
            <span class="font-weight-bold">+1 (216) 777-2190</span></h6>
            
          </div>
          <div class="modal-footer">
            <a href="https://api.whatsapp.com/send?phone=12167772190&text=%C2%A1Hola,%20requiero%20de%20su%20ayuda." target="_blank" class="btn bg-gradient-primary" style="background: #00bb2d;">Ir al WhatsApp</a>
            <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal" style="color:#344767;">Cerrar</button>
          </div>
        </div>
    </div>
  </div>